/* Styles for all media */
a {
  text-decoration: none; /* 去掉下划线 */
}

body, h1, h2, h3, h4, h5 {
        font-family:cnn_sans_display, helveticaneue, Helvetica, Arial, Utkal, sans-serif;
        color: #333333;
}

h2{
    color: green;
}

p {
    text-align: justify;
    line-height: 1.2;
}

/*---- page   layout----*/ 
.main-page {
  margin: 0 auto;
  min-width: 1200px; /* 设置最小宽度为 1200px */
  display: flex;
}

.left {
  flex: 0 0 30%; /* 占据 25% 的固定宽度 */
  padding: 0 24px;
  border-right: 3px solid #808080;
  
}

.middle {
  flex: 1; /* 占据剩余空间的 62.5% */
  text-align: left;
  padding: 0 24px;
  /*border: 1px solid #F0F;*/
  
}

.right {
  flex: 0 0 30%; /* 占据 12.5% 的固定宽度 */
  padding: 0 20px;
  border-left: 3px solid #808080;
  
}

ul {
    /*list-style: none;*/
    margin: 0;
}

a {
  display: block;
  font-size: 24px; /* 设置链接文字大小 */
  text-decoration: none;
  text-align: left;
  line-height: 1.5;
  color: blue;
}

